@using CodeGeneration.Models.Metadata.Sql
@using CodeGeneration.Models.Metadata.Template
@inherits RazorEngine.Templating.TemplateBase<TemplateModelMetadata>

@@model @(Model.Namespace).@(Model.ModelName)

<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="text-center">
                <h4 class="card-header bg-secondary text-white">Edit @Model.ModelName</h4>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    @foreach (var columnMetadata in Model.TableMetadata.Columns)
                    {
                        var propertyAccessor = string.Format("{0}", columnMetadata.ColumnName);

                        if (columnMetadata.IsReadOnly) { continue; }
                        if (columnMetadata.IsPrimaryKey)
                        {
                            <input type="hidden" asp-for="@propertyAccessor"/>
                            continue;
                        }
                        if (columnMetadata.IsForeignKey)
                        {
                            var itemSourceName = string.Format("ViewBag.{0}", columnMetadata.ColumnName.Replace("Id","List"));
                            <div class="form-group">
                                <label asp-for="@propertyAccessor"></label>
                                <select asp-for="@propertyAccessor" class="form-control" asp-items="@itemSourceName"></select>
                                <span asp-validation-for="@propertyAccessor" class="text-danger"></span>
                            </div>
                        }
                        else if (columnMetadata.IsBooleanType())
                        {
                            <div class="form-check">
                                <input asp-for="@propertyAccessor" /> @@Html.DisplayNameFor(model => model.@GetValueExpression(columnMetadata))
                                <label asp-for="@propertyAccessor" class="form-check-label"></label>
                            </div>
                        }
                        else
                        {
                            <div class="form-group">
                                <label asp-for="@propertyAccessor"></label>
                                <input asp-for="@propertyAccessor" class="form-control" />
                                <span asp-validation-for="@propertyAccessor" class="text-danger"></span>
                            </div>
                        }
                    }
                    <div class="form-group">
                        <button type="submit" class="btn btn-lg btn-block btn-success">
                            <i class="fas fa-save"></i> Create
                        </button>
                    </div>
                    <div class="form-group">
                        <a asp-action="Index" class="btn btn-lg btn-block btn-secondary">
                            Cancel
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@functions
{
    static string GetValueExpression(ColumnMetadata columnMetadata)
    {
        return columnMetadata.ColumnName;
    }
}